.child {
    border-radius: 5px;
    padding: 10px;
    
    background-color: green;
    color: aliceblue;

    border: 2px solid red;
  }


  .container {
    display: grid;

        /* width: 50%; */

    /* One Column */
    /* grid-template-columns: 100px */
    /* Two Columns */
    /* grid-template-columns: 100px 50px; */
    /* Three Columns */
    /* grid-template-columns: 100px 50px 372px; */


    /* grid-template-columns: 1fr; */
    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-columns: 1fr 1fr 1fr; */

    /* grid-template-columns: 1fr 1fr 1fr 2fr 8fr; */

    /* grid-template-columns: repeat(5, 2fr); */
    /* grid-template-columns: repeat(3, 2fr); */

    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    /* grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); */




    /* gap: 7px; */
    /* grid-gap: 77px; */

    grid-gap: 5px;




    /* grid-template-rows: 100px; */
    /* grid-template-rows: 100px 200px; */
    /* grid-template-rows: 100px 200px 222px; */

    /* grid-auto-rows: minmax(100px, auto); */
    grid-auto-rows: minmax(50px, auto);

  }


  .five{

    /* Row Number */
    grid-row: 1;
    /* Column Width */
    grid-column: 3 / 5;

  }

  .seven {
    grid-row: 2 / span 3;
  }

  
  /* .nine {
    overflow: scroll;
  } */

  #nine-wrap {
    overflow-wrap: anywhere;
  }